{% extends 'base/base.html' %}

{% block titulo %}
Recuperar contraseña
{% endblock %}


{%block sidebar %}
{% endblock %}


{%block topbar %}
{% endblock %}

{% block contenido %}

{% if validlink %}
<!-- <div class="col-lg-6"> -->
<div>	
    <div class="p-5">
		<div class="text-center">
		    <h1 class="h4 text-gray-900 mb-4">Nueva contraseña</h1>
		</div>


		<form method="post">
		{% csrf_token %}


			<div class="form-group">
					
					<input for="id_new_password1" type="password" name="new_password1" class="form-control form-control-user" placeholder="Nueva contraseña"> 
				
			</div>


			<div class="form-group">
					
					<input for="id_new_password2" type="password" name="new_password2" class="form-control form-control-user"  placeholder="Confirme contraseña"> 
				
			</div>

			

			<button type="submit" class="btn btn-primary btn-user btn-block">Cambiar contraseña</button>
		</form>
	</div>
</div>

{% else %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">ENLACE INVALIDO!: Este enlace ya ha sido utilizado</h1>
</div>

{% endif %}

{% endblock %}