{% extends 'base/base.html' %}

{% block titulo %}
Disponibilidad jugador 
{% endblock %}

{% block app_name %}
<center>Disponibilidad del jugador</center>
{% endblock %}


{% block contenido %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sabado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6:00 Pm</th>
      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun6.name}}">{{form2.lun06}}</label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mar6.name}}">{{form2.mar06}}</label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mie6.name}}">{{form2.mie06}}</label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.jue6.name}}">{{form2.jue06}}</label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.vie6.name}}">{{form2.vie06}}</label>
			</div>
		</td>
		
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.sab6.name}}">{{form2.sab06}}</label>
			</div>
		</td>

    </tr>

    <tr>
      <th scope="row">7:00 Pm</th>
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun7.name}}">{{form2.lun07}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mar7.name}}">{{form2.mar07}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mie7.name}}">{{form2.mie07}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.jue7.name}}">{{form2.jue07}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.vie7.name}}">{{form2.vie07}}"></label>
			</div>
		</td>
		
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.sab7.name}}">{{form2.sab07}}></label>
			</div>
		</td>
    </tr>

    <tr>
      <th scope="row">8:00 Pm</th>
      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun8.name}}">{{form2.lun08}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mar8.name}}">{{form2.mar08}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mie8.name}}">{{form2.mie08}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.jue8.name}}">{{form2.jue08}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.vie8.name}}">{{form2.vie08}}></label>
			</div>
		</td>
		
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.sab8.name}}">{{form2.sab08}}></label>
			</div>
		</td>
    </tr>

    <tr>
      <th scope="row">9:00 Pm</th>
      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun9.name}}">{{form2.lun09}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mar9.name}}">{{form2.mar09}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mie9.name}}">{{form2.mie09}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.jue9.name}}">{{form2.jue09}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.vie9.name}}">{{form2.vie09}}></label>
			</div>
		</td>
		
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.sab9.name}}">{{form2.sab09}}></label>
			</div>
		</td>
    </tr>

    <tr>
      <th scope="row">10:00 Pm</th>
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun10.name}}">{{form2.lun10}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.lun10.name}}">{{form2.mar10}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.mie10.name}}">{{form2.mie10}}></label>
			</div>
		</td>

      	<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.jue10.name}}">{{form2.jue10}}></label>
			</div>
		</td>

		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.vie10.name}}">{{form2.vie10}}></label>
			</div>
		</td>
		
		<td><div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1">
  			<label class="form-check-label" for="{{form2.sab10.name}}">{{form2.sab10}}></label>
			</div>
		</td>
    </tr>
  </tbody>
</table>

	      	
	                    	<button type="submit" class="btn btn-primary btn-success btn-icon-split">
	                    		<span class="icon text-white-50"> <i class="fas fa-check"></i> </span>
	                    		<span class="text">Registrar</span>
	                    	</button>
	                    			
	                    </form>
                </div>
</center>
		                    
				
{% endblock %}

